USE [DbEntityUrun]
GO
/****** Object:  StoredProcedure [dbo].[MARKAGETIR]    Script Date: 2.10.2021 15:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MARKAGETIR]
AS
SELECT TOP 1 MARKA FROM TBLURUN GROUP BY MARKA ORDER BY COUNT(*) DESC
GO
/****** Object:  Table [dbo].[TBLADMIN]    Script Date: 2.10.2021 15:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLADMIN](
	[ID] [tinyint] IDENTITY(1,1) NOT NULL,
	[KULLANICI] [varchar](20) NULL,
	[SIFRE] [nchar](10) NULL,
 CONSTRAINT [PK_TBLADMIN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBLKATEGORI]    Script Date: 2.10.2021 15:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLKATEGORI](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AD] [varchar](30) NULL,
 CONSTRAINT [PK_TBLKATEGORI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBLMUSTERI]    Script Date: 2.10.2021 15:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLMUSTERI](
	[MUSTERIID] [int] IDENTITY(1,1) NOT NULL,
	[MUSTERIAD] [varchar](30) NULL,
	[MUSTERISOYAD] [varchar](30) NULL,
	[SEHIR] [varchar](13) NULL,
	[DURUM] [bit] NULL,
 CONSTRAINT [PK_TBLMUSTERI] PRIMARY KEY CLUSTERED 
(
	[MUSTERIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBLSATIS]    Script Date: 2.10.2021 15:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLSATIS](
	[SATISID] [int] IDENTITY(1,1) NOT NULL,
	[URUN] [int] NULL,
	[MUSTERI] [int] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[TARIH] [smalldatetime] NULL,
 CONSTRAINT [PK_TBLSATIS] PRIMARY KEY CLUSTERED 
(
	[SATISID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBLURUN]    Script Date: 2.10.2021 15:45:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TBLURUN](
	[URUNID] [int] IDENTITY(1,1) NOT NULL,
	[URUNAD] [varchar](30) NULL,
	[MARKA] [varchar](30) NULL,
	[STOK] [smallint] NULL,
	[FIYAT] [decimal](18, 2) NULL,
	[DURUM] [bit] NULL,
	[KATEGORI] [int] NULL,
 CONSTRAINT [PK_TBLURUN] PRIMARY KEY CLUSTERED 
(
	[URUNID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[TBLSATIS]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATIS_TBLMUSTERI] FOREIGN KEY([MUSTERI])
REFERENCES [dbo].[TBLMUSTERI] ([MUSTERIID])
GO
ALTER TABLE [dbo].[TBLSATIS] CHECK CONSTRAINT [FK_TBLSATIS_TBLMUSTERI]
GO
ALTER TABLE [dbo].[TBLSATIS]  WITH CHECK ADD  CONSTRAINT [FK_TBLSATIS_TBLURUN] FOREIGN KEY([URUN])
REFERENCES [dbo].[TBLURUN] ([URUNID])
GO
ALTER TABLE [dbo].[TBLSATIS] CHECK CONSTRAINT [FK_TBLSATIS_TBLURUN]
GO
ALTER TABLE [dbo].[TBLURUN]  WITH CHECK ADD  CONSTRAINT [FK_TBLURUN_TBLKATEGORI] FOREIGN KEY([KATEGORI])
REFERENCES [dbo].[TBLKATEGORI] ([ID])
GO
ALTER TABLE [dbo].[TBLURUN] CHECK CONSTRAINT [FK_TBLURUN_TBLKATEGORI]
GO
